<% @experiences.each do |experience| %>
<div class="col-10 offset-1">
<p class="main_p">	
<p class="show_1"><strong><%= experience.title %>
</strong></p>
<br />
<p class="show">
	<ul class="ul_main">
		<li><%= experience.description %></li>
	</ul>
  </p>
 </p>
<br />

</div>
<%end%>